NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=


INTERNAL_ADMIN_EMAILS=


ASAAS_API_KEY=
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3
ASAAS_WEBHOOK_TOKEN=


APP_PRIMARY_HOSTS=
VERCEL_API_TOKEN=
VERCEL_PROJECT_ID_OR_NAME=
VERCEL_TEAM_ID=
VERCEL_TEAM_SLUG=
